.cards {
  width: 450px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

button {
  margin: 15px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.chats-container {
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat-right {
  align-self: flex-end;
}

.chat {
  width: fit-content;
  border: black solid 1px;
  padding: 15px;
  border-radius: 20px;
  min-width: 150px;
  position: relative;
}
